@page
@model NumberRecognitionUI.Models.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="header-title" style="text-align: center;">
                <h1 style="margin-top: 30px; margin-bottom: 50px;">Draw a number</h1>
            </div>
            <div>
                <canvas id="canvas" style="border: 1px solid black; margin:auto"></canvas>
            </div>
        </div>
        <div class="col-md-5" style="padding-bottom: 15px; margin-top: 120px;">
            <p class="text-center">Processed image here:</p>
            <div>
                <canvas id="predicted-canvas" style="border: 1px solid black"></canvas>
            </div>
            <div class="form-group" style="margin-top: 15px;">
                <label for="predict">Predicted number: </label>
                <input type="text" value=" " id="predict" style="margin-left: 15px;" />
            </div>
            <form id="form-upload" enctype="multipart/form-data">
                <input type="file" id="imageLoader" name="image" style="display:none;" aria-label="uploaded image"/>
            </form>
            <button id="predict-button" class="btn btn-primary" style="width: 100%; margin-top: 35px;">Predict</button>
            
        </div>
    </div>

</div>
